/*Main Obras sociales*/
.main-obras{
    .columnas{
        font-weight: normal;
        color: #8d8585;
        font-size: 20px;
        font-family: $fuente-principal;
        padding: 10px 30px 0px 20px;
    }
    .col-sm-12{
        font-weight: 500px;
    }
    .col-md-6{
        font-weight: 600px;
    }
    .col-lg-4{
        font-weight: 700px;
    }
}