@mixin flex ($flex-direction , $justify-content){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
}@mixin marcas ($color, $font-size ,$font-weight , $padding ,$font-family ){
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
    padding: $padding;
    font-family: $font-family;
}